.loading {
    width: 200px;
    height: 200px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    font-size: 25px;
}

.offline {
    position: relative;
    top: 54px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: 1px solid red;
}